@import url(https://fonts.googleapis.com/css?family=Poppins);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: absolute;
    width: 100vw;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 48px;
}

.navbar {
    background-color:#000000;
    color: #909090;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 58.5% 10% 12.5% 9% 10%;
}

.nav-link:hover, .inf-link:hover {
    opacity: 50%;
    transition: 0.2s;
}

.inf-link {
    color: #909090;
    margin-left: 2%;
    max-width: 60px;
}

.nav-link {
    color: #909090;
}

.options {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: auto;
    z-index: 1;
    margin-top: 12px;
}

.dd-container:hover .options{
    display: flex;
    flex-direction: column;
}

.main {
    background-image: url(images/Saturn-V-launch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.Introduction {
    margin: 256px;
    border-width: 4px;
    border-style: solid;
    border-color:whitesmoke;
    padding: 10px;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 38% 62%;

}

.Introduction > div {
    display: grid;
    flex-direction: column;
    padding-left: 20px;
}

.Introduction > div > h2 {
    border-bottom: 2px dashed lightgray;
    font-size: 36px;
    text-align: center;
}

.Introduction > div > .sub {
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
}

.Introduction > div > .sub > p {
    margin-left: 10%;
}

.Features {
    margin-top: 2%;
    width: 90%;
    padding-left: 5%;
    display: flex;
    text-align: center;
    margin-bottom: 2%;
}

.feat {
    width: 33%;
    margin-left: 1vw;
    justify-content: center;
    border-style: groove;
    border-radius: 6px;
    box-shadow: 0px 2px 10px 5px #999998;
}

.feat > button {
    margin-bottom: 4px;
    background-color: #333333;
    color: white;
    width: 144px;
    height: 48px;
    border-style: none;
    border-radius: 4px;
}

.feat > button:hover {
    color: lightpink;
    box-shadow: 0px 2px 10px 3px blue;
    transition: 0.4s;
}

.coolness {
    background-color: #444444;
    color: white;
    height: 250px;
}

.coolness > * {
    margin-left: 4%;
}

.coolness > h2 {
    font-size: 36px;
}

.hoverbg {
    background-color: #444444;
}

.hovercraft {
    color: #720550;
    background-color: whitesmoke;
    border-style: solid;
    border-color: lightpink;
    border-width: 4px;
    height: 100px;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.hovercraft:active {
    opacity: 0;
    transition: 15ms;
}

.hovercraft:hover {
    transform: translate(100px) rotate(359deg);
    transition: 3s;
}

.gradient {
    background-image: linear-gradient(to right, white, cornflowerblue
    );
    padding-top: 5%;
    color: white;
    text-align: end;
    padding-bottom: 5%;
    z-index: 2;
}

.gradient > * {
    padding-right: 4%;
}

.gradient > h2 {
    font-size: 48px;
}

.images {
    z-index: 1;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.zoom-zoom {
    justify-self: center;
    width: 100%;
    z-index: 2;
}

.zoom-zoom + p {
    display: none;
}

.zoom-zoom:hover {
    transform: scale(1.2, 1.2);
    transition: 2s;
    z-index: 0;
}

.register {
    background-color: whitesmoke;
    padding-top: 30px;
    text-align: center;
    z-index: 2;
}

form {
    display: grid;
    grid-template-rows: 30px 50px 50px;
    text-align: center;
    justify-content: center;
}

.signupbox {
    width: 75%;
    height: 21px;
}

.links {
    border-top: 2px solid #909090;
    padding-top: 6px;
    padding-left: 10%;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 1150px) {
    h1 {
        font-size: 36px;
    }

    .Introduction > div > h2 {
        font-size: 24px;
    }
}